#returning-customer{
	display: none;
}

#validate-name{
	display: none;
}

#validate-address{
	display: none;
}

#validate-button{
	display: none;	
}

#totalContainer{
	text-align: right;
	display: none;
}

.moneyHeader{
	font-weight: bold;
}

.text-warn{
	color: red;
	padding: 2px;
}
